body::before {
	background: none;
}

.col-md-9 img {
    max-width: 100%;
    display: inline-block;
    padding: 4px;
    line-height: 1.428571429;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 3px auto 3px auto;
}

.mysmallicon {
	display: inline-block;
}

.mysmallicon img:hover {
	background:#31A5E7;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.mysmallicon img:active {
	background:#178ACC;
}

header { border-bottom: 1px solid #000; }
header > h1 { display: inline-block; }

#contact input {
	width: 30%;
    min-width:100px;
	border:1px solid #ddd;
	margin:0 121px 5px;
	padding:10px;
}

#contact textarea {
	height:200px;
	max-width:100%;
	width: 30%;
    min-width:100px;
	border:1px solid #ddd;
    resize:none;
	margin: 0 121px 5px;
	padding:10px;
}

#contact button {
	cursor:pointer;
	width:30%;
    min-width:100px;
	border:none;
	background:#31A5E7;
	color:#f8f8f8;
	margin:0 121px 5px;
	padding:10px;
	font-size:15px;
}

#contact button:hover {
	background:#178ACC;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button:active { 
    background:#157CB7;
}
