{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% include "_variables.html" %}
    {% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    {% endblock fonts %}
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <!--<script async defer src="https://buttons.github.io/buttons.js"></script>-->
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Tomasz Nowakowski
            </h1>
            <h3 class="title-text">
                <p></p>
				<p>Professional game tester and amateur game developer.</p>
				<p>I am glad you found my website. Please, take a look.</p>
            </h3>
            <div>
                <a href="https://github.com/VedVid/"><img src="gh.png"></a>
                <a href="https://www.linkedin.com/in/tnowakowski9/"><img src="linkedin.png"></a>
                <a href="https://vedor.itch.io/"><img src="itchio.png"></a>
            </div>
        </section>
        <img class="hero-image" style="width: 30%" src="{{ get_url(path="me.png") }}">

        <style>
            .hero section {
                padding: 0 5rem;
            }

            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

</body>

</html>